.deck-section-wrapper {
  height: calc(13rem + calc(1.75rem * var(--wrapper-bump)));
}

.card {
  min-width: 9rem;
  max-width: 9rem;
  position: absolute;
  top: calc(var(--card-index) * 1.72rem);

}

.deck {
  background-color: rebeccapurple;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.7rem;
}

.deck-section-wrapper {
  min-width: 9rem;
  max-width: 9rem;
}

.deck-section-cards{
  position: relative;
  top: 10px;
  left: 0px;
}

.deck-wrapper {
  position: relative;
}

:root {
  --card-x: 50px;
  --card-y: 50px;
  --card-state: hidden;
}

#display-card {
  position: absolute;
  top: var(--card-y);
  left: var(--card-x);
  width: 12rem;
  background-color: blue;
  visibility: var(--card-state);
}
