.deck-section-wrapper {
  height: calc(13rem + calc(1.75rem * var(--wrapper-bump)));
}

.card {
  min-width: 9rem;
  max-width: 9rem;
  transform: translateY(calc(var(--card-index) * -11rem));
}

.deck {
  background-color: rebeccapurple;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.7rem;
}

.deck-wrapper {
  display: grid;
  grid-template-columns: 12rem 1fr;
}


