:root {
  --card-count-width: 1.6rem;
  --card-image-width: 10.4rem;
  --card-controls-width: 2rem;
  --open-card-height: 14.6rem;
  --filter-row-height: 2.7rem;
}

.card-controls {
  background-color: black;
}

.card-controls button {
  min-width: 80%;
  margin-bottom: var(--xxsmall-margin);
}

.card-image-wrapper {
  background-color: black;
}

.card-image-wrapper img {
  border-radius: var(--large-border-radius);
}

.card-quantity {
  padding-left: 0.3rem;
  padding-block: 0.25rem;
  text-align: center;
}

.card-quantity-buttons {
  padding-left: 0.3rem;
  text-align: center;
}

.card-quantity-buttons button {
  width: 90%;
  margin-bottom: 0.36rem;
}


.card-wrapper {
  background-color: black;
  color: var(--faded-white-color);
  display: grid;
  grid-template-columns: var(--card-count-width) var(--card-image-width) var(--card-controls-width);
  overflow-y: hidden;
  border-radius: var(--large-border-radius);
}

.card-wrapper[data-controls=hidden] {
  border: 1px solid rgb(0 0 0 / 0);
}

.card-wrapper[data-controls=visible] {
  border: var(--accent-border);
}

.card-wrapper[data-cardfilter="-1"] button[data-cardfilter="-1"] {
  background: var(--accent-color);
}

.card-wrapper[data-cardfilter="0"] button[data-cardfilter="0"] {
  background: var(--accent-color);
}

.card-wrapper[data-cardfilter="1"] button[data-cardfilter="1"] {
  background: var(--accent-color);
}

.card-wrapper[data-cardfilter="2"] button[data-cardfilter="2"] {
  background: var(--accent-color);
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1.0rem;
  padding: var(--default-padding);
}

.category-cards {
  background-color: black;
  border-radius: var(--large-border-radius);
}

.category-title {
  padding-block: var(--xxsmall-padding);
  position: sticky;
  top: var(--filter-row-height);
  background-color: var(--background-color);
}

[data-state=open] {
  height: var(--open-card-height);
}

[data-state=closed] {
  height: 1.9rem;
}

[data-controls=hidden] .card-controls {
  display: none;
}

.deck-wrapper[data-deckfilter="-1"] button[data-deckfilter="-1"] {
  background: var(--accent-color);
}

.deck-wrapper[data-deckfilter="0"] button[data-deckfilter="0"] {
  background: var(--accent-color);
}

.deck-wrapper[data-deckfilter="1"] button[data-deckfilter="1"] {
  background: var(--accent-color);
}

.deck-wrapper[data-deckfilter="2"] button[data-deckfilter="2"] {
  background: var(--accent-color);
}


.filter-wrapper {
  height: var(--filter-row-height);
  padding-block: var(--xxsmall-padding);
  padding-inline: var(--default-padding);
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  z-index: 1;
}
