:root {
  --card-image-width: 11rem;
  --card-controls-width: 1.8rem;
  --active-card-height: 15.5rem;
}

[data-state=open] {
  height: var(--active-card-height);
}

.active-card .card-image-wrapper {
  border-block: var(--info-border);
  border-left: var(--info-border);
}

.active-card-filter-button {
  background: var(--accent-color);
}

.active-deck-filter {
  background: var(--accent-color);
}

[data-buttonstatus="active"] {
  background-color: var(--accent-color);
}

.card-image-wrapper {
  border-start-radius: var(--xlarge-border-radius);
  background: var(--info-color);
}

.card-image-wrapper img {
  border-radius: var(--xlarge-border-radius);
}

/*
.card-wrapper[data-cardstatus="invisible"] {
  display: none;
}
*/

.card-wrapper {
  display: grid;
  grid-template-columns: var(--card-image-width) var(--card-controls-width);
  overflow-y: hidden;
}

.card-wrapper[data-cardfilter="-1"] button[data-cardfilter="-1"] {
  background: var(--accent-color);
}

.card-wrapper[data-cardfilter="0"] button[data-cardfilter="0"] {
  background: var(--accent-color);
}

.card-wrapper[data-cardfilter="1"] button[data-cardfilter="1"] {
  background: var(--accent-color);
}

.card-wrapper[data-cardfilter="2"] button[data-cardfilter="2"] {
  background: var(--accent-color);
}


.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1.0rem;
}

.category-cards {
  min-width: calc(0.8rem + var(--card-image-width) + var(--card-controls-width));
}

.deck-wrapper[data-deckfilter="-1"] button[data-deckfilter="-1"] {
  background: var(--accent-color);
}

.deck-wrapper[data-deckfilter="0"] button[data-deckfilter="0"] {
  background: var(--accent-color);
}

.deck-wrapper[data-deckfilter="1"] button[data-deckfilter="1"] {
  background: var(--accent-color);
}

.deck-wrapper[data-deckfilter="2"] button[data-deckfilter="2"] {
  background: var(--accent-color);
}


/*
[data-deckfilter="0"]  {
  background: var(--accent-color);
}

[data-deckfilter="2"] button[data-deck] {
  background: var(--accent-color);
}



[data-cardfilter="0"] {
  padding: var(--default-padding);
}

*/


[data-state=closed] {
  height: 1.9rem;
}

.inactive-card .card-image-wrapper {
  border-left: 1px solid rgb(0 0 0 / 0);
  border-block: 1px solid rgb(0 0 0 / 0);
}

.inactive-card .card-controls   {
  display: none;
}



/* .active-filter { */
/*   border: var(--heading-border); */
/*   background-color: var(--faded-heading-color); */
/*   color: var(--heading-color); */
/* } */

/*
.base-wrapper {
  height: 1.9rem;
  overflow-y: hidden;
}
*/


/* .card-background { */
/*   background-color: var(--match-color); */
/* } */

/* .category-column { */
/*   display: grid; */
/*   grid-template-columns: 11rem 2.5rem; */
/*   position: relative; */
/* } */

/* .category-controls { */
/*   background-color: var(--match-color); */
/*   border-block: var(--reverse-border); */
/*   border-inline: var(--reverse-border); */
/*   border-start-end-radius: var(--small-border-radius); */
/*   border-end-end-radius: var(--small-border-radius); */
/*   height: 244px; */
/*   padding-block: var(--default-padding); */
/*   padding-left: var(--xxsmall-padding); */
/*   position: absolute; */
/* } */

/* .category-wrapper { */
/*   position: relative; */
/* } */

/* .category-cards { */
/*   background-color: var(--match-color); */
/* } */

/* .card-wrapper { */
/*   border: var(--match-border); */
/*   border-start-start-radius: 0.6rem; */
/*   border-start-end-radius: 0.6rem; */
/* } */


/* .current-card-filter { */
/*   background-color: red; */
/* } */

/* .deck-wrapper { */
/*   position: relative; */
/* } */

/* .link-button { */
/*   background: none; */
/*   border: var(--accent-border); */
/*   border-radius: var(--default-border-radius); */
/*   color: var(--link-color); */
/*   cursor: pointer; */
/*   font-family: inherit; */
/*   font-size: var(--small-font-size); */
/*   outline: inherit; */
/*   padding-block: var(--xxsmall-padding); */
/*   padding-inline: var(--xsmall-padding); */
/* } */

/* .link-button:active, .link-button:visited { */
/*   color: var(--link-color); */
/* } */

/* .link-button:hover { */
/*   color: var(--accent-color); */
/* } */

/* .open-card { */
/*   height: 244px; */
/*   border-end-start-radius: 0.6rem; */
/*   border-right: var(--reverse-border); */
/*   border-end-end-radius: 0.6rem; */
/* } */


/* .bordered-card { */
/*   border-block: var(--reverse-border); */
/*   border-left: var(--reverse-border); */
/*   margin-bottom: 30px; */
/* } */



