<div class="category-wrapper" data-category="CATEGORY_NAME">
  <div class="category-title">CATEGORY_NAME (CARDS_IN_CATEGORY)</div>
  <div class="category-column">
    <div class="category-cards">CATEGORY_CARDS</div>
    <div class="category-controls-wrapper">
      <div class="category-controls">
        <button 
          data-send="setCardFilter"
          data-receive="filterCardId"
          data-filter="-1"
        >x</button>
        <button 
          data-send="setCardFilter"
          data-receive="filterCardId"
          data-filter="1"
        >1</button>
        <button 
          data-send="setCardFilter"
          data-receive="filterCardId"
          data-filter="2"
        >2</button>
      <div>
    </div>
  </div>
</div>
