:root {
  --card-image-width: 11rem;
  --card-controls-width: 1.9rem;
  --open-card-height: 15.5rem;
}

.card-controls {
  background-color: black;
  border-start-end-radius: var(--large-border-radius);
  border-end-end-radius: var(--large-border-radius);
  padding-top: var(--large-padding);
}

.card-image-wrapper {
  background-color: black;
}

.card-image-wrapper img {
  border-radius: var(--large-border-radius);
}

.card-wrapper {
  display: grid;
  grid-template-columns: var(--card-image-width) var(--card-controls-width);
  overflow-y: hidden;
}

.card-wrapper[data-controls=hidden] {
  border: 1px solid rgb(0 0 0 / 0);
}

.card-wrapper[data-controls=visible] {
  border: var(--accent-border);
}

.card-wrapper[data-cardfilter="-1"] button[data-cardfilter="-1"] {
  background: var(--accent-color);
}

.card-wrapper[data-cardfilter="0"] button[data-cardfilter="0"] {
  background: var(--accent-color);
}

.card-wrapper[data-cardfilter="1"] button[data-cardfilter="1"] {
  background: var(--accent-color);
}

.card-wrapper[data-cardfilter="2"] button[data-cardfilter="2"] {
  background: var(--accent-color);
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1.0rem;
}

.category-cards {
  /*
  min-width: calc(var(--card-image-width) + var(--card-controls-width));
  */
}

[data-state=open] {
  height: var(--open-card-height);
}

[data-state=closed] {
  height: 1.9rem;
}

[data-controls=hidden] .card-controls {
  display: none;
}

.deck-wrapper[data-deckfilter="-1"] button[data-deckfilter="-1"] {
  background: var(--accent-color);
}

.deck-wrapper[data-deckfilter="0"] button[data-deckfilter="0"] {
  background: var(--accent-color);
}

.deck-wrapper[data-deckfilter="1"] button[data-deckfilter="1"] {
  background: var(--accent-color);
}

.deck-wrapper[data-deckfilter="2"] button[data-deckfilter="2"] {
  background: var(--accent-color);
}

