.base-wrapper {
  height: 1.9rem;
  overflow-y: hidden;
}

.category-column {
  position: relative;
  display: grid;
  grid-template-columns: 11rem 2.5rem;
}

.category-controls {
  position: absolute;
  border-block: var(--reverse-border);
  border-right: var(--reverse-border);
  background-color: var(--reverse-color);
  padding-block: var(--default-padding);
  padding-left: var(--xxsmall-padding);
  height: 244px;
  border-start-end-radius: var(--small-border-radius);
  border-end-end-radius: var(--small-border-radius);
}

.category-wrapper {
  position: relative;
}

.category-cards {
  background-color: var(--match-color);
}

.card-wrapper {
  border: var(--match-border);
  border-radius: 0.6rem;
  /*
  border-start-start-radius: 0.6rem;
  border-start-end-radius: 0.6rem;
  */
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1.0rem;
}

.deck-wrapper {
  position: relative;
}

.open-card {
  height: 244px;
}

.bordered-card {
  border: var(--reverse-border);
  /*
  border-block: var(--reverse-border);
  border-left: var(--reverse-border);
  */
}


