.behind {
  background-color: var(--faded-link-color);
  border-end-start-radius: var(--xsmall-border-radius);
  border-end-end-radius: var(--xsmall-border-radius);
  padding-bottom: var(--xxxsmall-padding);
  margin-top: var(--xsmall-margin);
}

.card {
  width: 7rem;
}

.commander-card {
  border: 1px solid var(--faded-reverse-color);
  border-radius: var(--small-border-radius);
}

.details-header {
  padding-inline: var(--xxsmall-padding);
  display: flex;
  justify-content: space-between;
}

.detail-line {
  padding-inline: var(--xxsmall-padding);
}

.details {
  font-size: var(--xxxsmall-font-size);
}

.draw-card {
  border: 1px solid var(--faded-reverse-color);
  border-radius: var(--small-border-radius);
}

.draw-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.hand-card {
  border: 1px solid var(--faded-reverse-color);
  border-radius: var(--small-border-radius);
}

.hand-card-details {
  background-color: var(--faded-reverse-color);
  border-end-start-radius: var(--xsmall-border-radius);
  border-end-end-radius: var(--xsmall-border-radius);
  color: var(--match-color);
}

.hand-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.land-played-draw {
  color: var(--match-color);
  background-color: var(--accent-color);
}

.land-played-none {
  color: var(--match-color);
  background-color: var(--reverse-color);
}

.land-played-reserve {
  color: var(--match-color);
  background-color: var(--accent-color);
}

.marquee {
  display: grid;
  grid-template-columns: 9rem 1fr;
}

.reserves {
  border-top: var(--faded-match-border);
  /*
  background-color: var(--faded-link-color);
  border-end-start-radius: var(--xsmall-border-radius);
  border-end-end-radius: var(--xsmall-border-radius);
*/
  padding-bottom: var(--xxxsmall-padding);
  margin-top: var(--xsmall-margin);
}

textarea {
  display: block;
  font-size: var(--xsmall-font-size);
  width: 80%;
  height: 14rem;
}


