.banner {
  display: grid;
  grid-template-columns: 10rem 1fr;
}

.card {
  border: 1px solid var(--faded-reverse-color);
  border-radius: var(--small-border-radius);
  width: 6.2rem;
}

.card img {
  border-radius: var(--xsmall-border-radius);
}

.card-details {
  font-size: var(--xsmall-font-size);
}

.deck-list {
  height: 14rem;
}

.turn-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.opening-hand-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.land {
  background-color: var(--faded-accent-color);
}

textarea {
  display: block;
  font-size: var(--xsmall-font-size);
  width: 80%;
  height: 14rem;
}

.up-down {
  font-size: var(--xsmall-font-size);
}


