.commander-card {
  border: 1px solid var(--faded-reverse-color);
  border-radius: var(--small-border-radius);
  width: 6.2rem;
}

.draw-card {
  border: 1px solid var(--faded-reverse-color);
  border-radius: var(--small-border-radius);
  width: 6.2rem;
}

.draw-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.hand-card {
  border: 1px solid var(--faded-reverse-color);
  border-radius: var(--small-border-radius);
  width: 6.2rem;
}

.hand-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.marquee {
  display: grid;
  grid-template-columns: 9rem 1fr;
}

textarea {
  display: block;
  font-size: var(--xsmall-font-size);
  width: 80%;
  height: 14rem;
}

.turn-details {
  font-size: var(--xxxsmall-font-size);
}

