.behind {
  background-color: var(--faded-info-color);
  border-end-start-radius: var(--small-border-radius);
  border-end-end-radius: var(--xsmall-border-radius);
}

.card {
  width: 7rem;
}

.commander-card {
  border: 1px solid var(--faded-reverse-color);
  border-radius: var(--small-border-radius);
}

.details-header {
  padding-inline: var(--xxsmall-padding);
  display: flex;
  justify-content: space-between;
}
.detail-line {
  padding-inline: var(--xxsmall-padding);
}

.details {
  font-size: var(--xxxsmall-font-size);
}

.draw-card {
  border: 1px solid var(--faded-reverse-color);
  border-radius: var(--small-border-radius);
}

.draw-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.hand-card {
  border: 1px solid var(--faded-reverse-color);
  border-radius: var(--small-border-radius);
}

.hand-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.land-played-draw {
  background-color: var(--faded-accent-color);
}

.land-played-reserve {
  background-color: var(--faded-accent-color);
}

.marquee {
  display: grid;
  grid-template-columns: 9rem 1fr;
}

textarea {
  display: block;
  font-size: var(--xsmall-font-size);
  width: 80%;
  height: 14rem;
}


